<ion-header [translucent]="true">
  
</ion-header>

<ion-content id="content">
  <ion-header collapse="condense">
  </ion-header>

  <div class="container-fluid" id="background-image-container" class="container-fluid">
      <ion-img id="background-image" src="assets/img/admin.gif"></ion-img> 
  </div>
  <div id="welcome-form" class="container-fluid">
    <div id="welcome-form-text">
      <h3>Admin portal</h3>
    </div>
    <p id="welcome-form-text2">   </p>
    <ion-button routerLink="login" routerLinkActive="active" id="current-customer" shape="round" fill="solid"> existing admin</ion-button>
    <a href="./register/register.component.html"> </a>
    <ion-button routerLink="sign-up" routerLinkActive="active" id="new-customer" shape="round" fill="outline" >new admin</ion-button><br>
    
  </div>

</ion-content>
