<ion-header>
  <ion-toolbar>
    <ion-title>
      User Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-calendar [mode]="calendar.mode" [currentDate]="calendar.currentDate" [dateFormatter]="calendar.dateFormatter"></ion-calendar>
  <ion-button (click)="scheduleAppointment()">Schedule Appointment</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/profile">
        Home
      </ion-button>
      <ion-button routerLink="/schedule">
        Schedule
      </ion-button>
      <ion-button routerLink="/promotions">
        Promotions
      </ion-button>
      <ion-button routerLink="/refer">
        Refer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>