<ion-header>
    <ion-toolbar>
      <ion-title>
        User Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- content goes here -->
  </ion-content>
  
  <ion-header class="header-nav">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/home">
          available jobs
        </ion-button>
        <ion-button routerLink="/schedule">
          my jobs
        </ion-button>
        <ion-button routerLink="/promotions">
          education
        </ion-button>
        <ion-button routerLink="/refer">
          promo
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>