<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- content goes here -->
</ion-content>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" id="nav">
      <ion-button routerLink="/profile">
        available jobs
      </ion-button>
      <ion-button routerLink="/schedule">
        my jobs
      </ion-button>
      <ion-button routerLink="/promotions">
        education
      </ion-button>
      <ion-button routerLink="/refer">
        promo
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>