<ion-header>
  <ion-toolbar>
    <ion-label>Register</ion-label>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-col>
    <ion-icon name="checkmark-circle-outline"></ion-icon
    ><ion-label>sign up</ion-label>
  </ion-col>
  <ion-col>
    <ion-icon name="checkmark-circle-outline"></ion-icon
    ><ion-label>create profile</ion-label>
  </ion-col>
  <ion-col>
    <ion-icon name="checkmark-circle-outline"></ion-icon
    ><ion-label>email confirmation</ion-label>
  </ion-col>
</ion-grid>

<!-- <div class="container-fluid" id="background-image-container" class="container-fluid">
  <ion-img id="background-image" src="assets/img/clearwater-background.gif"></ion-img>
</div> -->

<ion-grid>
  <form>
    <ion-col> </ion-col>
    <ion-col>
      <ion-row> </ion-row>

      <ion-row>
        <ion-item class="loginFields">
          <ion-input
            placeholder="First name"
            id="Firstname"
            shape="round"
            fill="solid"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="loginFields">
          <ion-input
            placeholder="Last name"
            id="Lastname"
            shape="round"
            fill="outline"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="loginFields">
          <ion-input
            placeholder="Username"
            id="Username"
            shape="round"
            fill="solid"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="loginFields">
          <ion-input
            placeholder="Password"
            type="password"
            id="Password"
            shape="round"
            fill="outline"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="loginFields">
          <ion-input
            placeholder="Email"
            id="Email"
            shape="round"
            fill="outline"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="loginFields">
          <ion-input
            placeholder="Phone"
            id="Phone"
            shape="round"
            fill="outline"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="loginFields">
          <ion-input
            placeholder="Zip"
            id="Zip"
            shape="round"
            fill="outline"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-button
            id="p1submit"
            shape="round"
            fill="solid"
            (click)="createProfile()"
          >
            next</ion-button
          >
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col> </ion-col>
  </form>
</ion-grid>
